.coffees-container {

}

.coffees-ul {

}

.coffees-ul-loading {

}

.coffee-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;

}

.coffee-name {

}

.coffee-form {

}

.form-label {

}

.form-input-text {

}

.form-input-submit {

}
