.app {
  margin: 3em;
}

.coffee-form-container {
  margin: 1em 0.5rem;
}

.coffee-form {

}

.form-label {

}

.form-input-text,
.form-input-submit {
  font-size: 8px;
  padding: 0;
  margin: 0;
  height: 2rem;
  border-radius: 8px;
}


.coffees-container {
  gap: 1em;
}

.coffees-ul {
  margin: 0;
  padding: 0;
}

.coffees-ul-loading {

}

.coffee-container {

}

.coffee-data {
  display: flex;
  justify-content: space-between;
  background: black;
  border-radius: 8px;
  margin: 0.25rem 0;
  padding: 0.25em;
}

.coffee-data > * {
  margin: 0;
  margin: 0.25em;
}

.coffee-name {
  min-width: 12rem;
}
