.coffees-container {
  gap: 1em;
}

.coffees-ul {
  margin: 0;
  padding: 0;
}

.coffees-ul-loading {

}

.coffee-container {

}

.coffee-data {
  display: flex;
  justify-content: space-between;
  background: black;
  border-radius: 16px;
  margin: 0.25rem 0;
  padding: 0.25em;
}

.coffee-data > * {
  margin: 0;
  margin: 0.25em;
}

.coffee-name {
  min-width: 12rem;
}

.coffee-form {

}

.form-label {

}

.form-input-text {

}

.form-input-submit {

}
